<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${application.fullname} +' | 控制台'"></title>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-table.min.css">
<link rel="stylesheet" href="css/jquery.treegrid.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/ionicons.min.css">
<link rel="stylesheet" href="css/AdminLTE.min.css">
<link rel="stylesheet" href="css/skin-blue.min.css">
<!-- <link rel="stylesheet" href="css/_all-skins.min.css"> -->
 </head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="wrapper">
		<div th:replace="commons/header :: main-header(${application})"></div>
		<div th:replace="commons/asider :: main-sidebar(${session},'p_1_4')"></div>
		<div class="content-wrapper">
			<section class="content-header" th:replace="commons/content :: content-header('菜单管理','这里您可以维护菜单数据,对菜单增删改查')">
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<!--   list start -->
						<div class="box" id="table">
							<div class="box-header">
								<h3 class="box-title">菜单列表</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<div>
									<div>
										<div class="grid-btn">
											<a class="btn btn-primary"  th:href="@{/menu-add.html}"><i class="fa fa-plus"></i>&nbsp;新增</a> 
											<a class="btn btn-primary" onclick="Menu.update()"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a> 
											<a class="btn btn-primary" onclick="Menu.delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
										</div>
										<table id="menuTable" data-mobile-responsive="true" data-click-to-select="true">
											<thead>
												<tr>
													<th data-field="selectItem" data-checkbox="true"></th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- 	list end -->
						<!-- detail start -->
						<div class="box box-info" style="display: none;" id="detail">
							<div class="box-header with-border">
								<h3 class="box-title">菜单新增</h3>
							</div>
							<!-- /.box-header -->
							<form class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-2 control-label">菜单名称</div>
									<div class="col-sm-10">
										<input type="text" name="name" placeholder="菜单名称" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">上级菜单</div>
									<div class="col-sm-10">
										<input type="text" name="parent-name" readonly="readonly" placeholder="上级菜单" class="form-control"
											style="cursor: pointer;" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">菜单URI</div>
									<div class="col-sm-10">
										<input type="text" name="uri" placeholder="菜单URL" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">授权标识</div>
									<div class="col-sm-10">
										<input type="text" name="permission" placeholder="多个用逗号分隔，如：user:list,user:create" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">排序号</div>
									<div class="col-sm-10">
										<input type="number" name="order" placeholder="排序号" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">图标</div>
									<div class="col-sm-10">
										<input type="text" name="icon" placeholder="菜单图标" class="form-control" />
										<code style="margin-top: 4px; display: block;">获取图标：http://fontawesome.io/icons/</code>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-2 control-label">打开位置</div>
									<label class="radio-inline"><input type="radio" name="target" value="main_frame" /> 布局框内 </label> <label
										class="radio-inline"><input type="radio" name="target" value="_blank" /> 新窗口 </label>
								</div>
								
								<div class="form-group">
									<div class="col-sm-2 control-label"></div>
									<input type="button" id="submit" value="确定" class="btn btn-primary" /> &nbsp;&nbsp; <input type="button"
										value="返回" class="btn btn-warning" onclick="Menu.reload()" />
								</div>
							</form>
						</div>
						<!-- detail end -->
						
						
					</div>
				</div>
			</section>
		</div>

		<div th:replace="commons/footer :: main-footer(${application})"></div>
<!-- 		<div th:replace="commons/setting :: control-sidebar(${application})"></div> -->
		<div class="control-sidebar-bg"></div>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/adminlte.min.js}"></script>
	<script th:src="@{/js/demo.js}"></script>
	<script th:src="@{/js/bootstrap-table.min.js}"></script>
	<script th:src="@{/js/jquery.treegrid.min.js}"></script>
	<script th:src="@{/js/jquery.treegrid.bootstrap3.js}"></script>
	<script th:src="@{/js/jquery.treegrid.extension.js}"></script>
	<script th:src="@{/js/tree.table.js}"></script>
	<script th:src="@{/js/menu.js}"></script>
</body>
</html>