<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<aside class="main-sidebar">
		<section class="sidebar">
			<!--@formatter:off -->
			<ul class="sidebar-menu tree" data-widget="tree">
				<li class="header">系统菜单</li>
				<li class="active treeview menu-open">
					<a href="javascript:;"> 
						<i class="fa fa-link"></i> 
						<span>系统管理</span> 
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li>
							<a href="/role.html" data-breadcrumb="系统管理:角色管理"> 
								<i class="fa fa-link"></i>
								<span>角色管理</span>
							</a>
							<ul class="treeview-menu">
							</ul>
						</li>
						<li>
							<a href="/permissions" data-breadcrumb="系统管理:权限管理"> 
								<i class="fa fa-link"></i>
								<span>权限管理</span>
							</a>
							<ul class="treeview-menu">
								
								
								
								
							</ul>
						</li>
						<li class="active">
							<a href="/menu.html" data-breadcrumb="系统管理:菜单管理"> 
								<i class="fa fa-link"></i>
								<span>菜单管理</span>
							</a>
							<ul class="treeview-menu">
								
								
								
								
							</ul>
						</li>
						<li>
							<a href="/users/**" data-breadcrumb="系统管理:用户管理"> 
								<i class="fa fa-link"></i>
								<span>用户管理</span>
							</a>
							<ul class="treeview-menu">
								
								
								
								
							</ul>
						</li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"> 
						<i class="fa fa-link"></i> 
						<span>接口文档</span> 
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li>
							<a href="/api/**" data-breadcrumb="接口文档:API接口调用GET"> 
								<i class="fa fa-link"></i>
								<span>API接口调用GET</span>
							</a>
							
						</li>
						
						
						
						
						<li>
							<a href="/api/**" data-breadcrumb="接口文档:API接口调用POST"> 
								<i class="fa fa-link"></i>
								<span>API接口调用POST</span>
							</a>
							
						</li>
						<li>
							<a href="/apilog/**" data-breadcrumb="接口文档:API日志统计POST"> 
								<i class="fa fa-link"></i>
								<span>API日志统计POST</span>
							</a>
							
						</li>
						<li>
							<a href="/apilog/**" data-breadcrumb="接口文档:API日志统计GET"> 
								<i class="fa fa-link"></i>
								<span>API日志统计GET</span>
							</a>
							
						</li>
					</ul>
				</li>
				<li class="treeview">
					<a href="/h2-console/**"> 
						<i class="fa fa-link"></i> 
						<span>即席查询</span> 
						
					</a>
					
				</li>
			</ul>
			<!--@formatter:on -->
			<!-- /.sidebar-menu -->
		</section>
		<!-- /.sidebar -->
	</aside>
</body>
</html>