html, body {
	height: 90% !important;
}

.hold-transition {
	background: url(../img/body-bg.png) center no-repeat fixed;
	background-size: cover;
}

#content-wrapper {
	padding-top: 0px;
}

.carousel-inner>.item>img {
	min-width: 100%;
}